@CHARSET "UTF-8";

#contents{
	margin: 0 auto;
	width: 1280px;
}

#contents #mainContents{
	width: 900px;
	border: 2px dashed black;
	float: left;
}

#contents #mainContents .board{
}

#contents #mainContents .gongji{
	width: 446px;
	height: 196px;
	background-image: url("../../../image/main/board-gongji446x196.png");
	box-sizing: border-box;
	padding: 40px 10px 10px 10px;
	vertical-align: middle;
	display: inline-block;
}

#contents #mainContents .jayu{
	width: 446px;
	height: 196px;
	background-image: url("../../../image/main/board-jayu446x196.png");
	box-sizing: border-box;
	padding: 40px 10px 10px 10px;
	vertical-align: middle;
	display: inline-block;
}