@CHARSET "UTF-8";

#contents{
	margin: 0 auto;
	width: 1280px;
	min-height: 1px;
}

#contents #mainContents{
	width: 800px;
	margin: 0 auto;
}

.freeboard-title{
	
}

.freeboard-contents{
	
}

.freeboard-contents .freeboard-list{
	min-height: 500px;
}

.freeboard-contents .freeboard-list .no-contents{
	display: inline-block;
	text-align: center;
	width: 100%;
	margin-top: 40px;
}

.freeboard-contents .freeboard-list .item-list dt{
	height: 35px;
	line-height: 35px;
}

.freeboard-contents .freeboard-list ul{
	list-style-type: none;
}

.freeboard-contents .freeboard-list ul li{
	clear: both;
}

.freeboard-contents .freeboard-list ul li dl dt{
	float: left;
	border-bottom: 1px solid gray;
	box-sizing: border-box;
}

.freeboard-contents .freeboard-list .contents-title .item-list dt{
	text-align: center;
	box-sizing: border-box;
}

.freeboard-contents .freeboard-list .item-list .group-no{
	width: 12%;
	text-align: center;
}

.freeboard-contents .freeboard-list .contents-list .item-list .group-no{
	border-right: 1px solid gray;
}

.freeboard-contents .freeboard-list .item-list .nickname{
	width: 15%;
	text-align: center;
}

.freeboard-contents .freeboard-list .item-list .title{
	width: 40%;
}

.freeboard-contents .freeboard-list .item-list  a:link { color: white; text-decoration: none;}
.freeboard-contents .freeboard-list .item-list  a:visited { color: white; text-decoration: none;}
.freeboard-contents .freeboard-list .item-list  a:hover { color: gold; font-weight: bold; text-decoration: none;}

.freeboard-contents .freeboard-list .item-list .reg-date{
	width: 25%;
	text-align: center;
}

.freeboard-contents .freeboard-list .item-list .hits{
	width: 8%;
	text-align: center;
}