<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date{HH:mm:ss} %-5level [%logger.%method:%line] %message%n%exception</pattern>
		</layout>
	</appender>

	<appender name="LOGFILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>/WEB-INF/logs/nox.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>nox.%d{yyyy-MM-dd}.log</fileNamePattern>
			<!-- 30일 지난 파일은 삭제한다. -->
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level [%logger.%method:%line] %message%n%exception</pattern>
		</encoder>
	</appender>
	
	<!-- RULES for logging DEBUG < INFO < WARN < ERROR < FATAL.-->
	
	<!-- Root Logger -->
	<root>
		<level value="error" />
		<appender-ref ref="LOGFILE"/>
		<appender-ref ref="CONSOLE" />
	</root>
	
	<!-- Query Loggers -->
	<logger name="jdbc.resultsettable" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="jdbc.sqlonly" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<!-- Application Loggers -->
	<logger name="com.suph.security" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="kr.pe.hayarobys.nox" additivity="false">
		<level value="debug" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.beans" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.context" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger>

	<logger name="org.springframework.web" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.security" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.security.web.context" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.security.web.authentication" additivity="false">
		<level value="error" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
    <logger name="org.springframework.jdbc.datasource.DataSourceTransactionManager">
    	<level value="debug" />
    	<appender-ref ref="CONSOLE" />
    </logger>
</configuration>