@CHARSET "UTF-8";

body{
	/*background-color: black*//* #6b6b6b */;
	color: white;
	font-size: 14px;
}

.small-button{
	float: right;
	border: none;
	background-color: #ffffff00;
	padding: 0px;
	cursor: pointer;
}

.small-button:HOVER .text{
	background-image: url("../../../image/common/small-button/btn-hover70x22.png");
}

.small-button:ACTIVE .text{
	background-image: url("../../../image/common/small-button/btn-active70x22.png");
}

.small-button .text{
	width: 70px;
	height: 22px;
	line-height: 22px;
	background-image: url("../../../image/common/small-button/btn70x22.png");
	color: yellow;
	font-size: 12px;
}

.pagination{
	display: block;
	text-align: center;
}

.paging-bar{
	list-style-type: none;
	display: inline-block;
}

.paging-bar li{
	float: left;
	margin-left: 4px;
	margin-right: 4px;
	width: 25px;
}

.paging-bar a:link { color: white; text-decoration: none;}
.paging-bar a:visited { color: white; text-decoration: none;}
.paging-bar a:hover { color: white; text-decoration: underline;}
.paging-bar a{
	display: block;
	width: 100%;
	text-align: center;
	font-size: 14px;
}
.paging-bar a.current{
	color: gold;
	font-weight: bold;
}