@CHARSET "UTF-8";

.comment-contents{
	margin-top: 15px;
}

.comment-contents .comment-registration .comment-registration-button{
	float: left;
	border: none;
	background-color: #ffffff00;
	padding: 0px;
	font-size: 14px;
	cursor: pointer;
}

.comment-contents .comment-registration .comment-registration-button:HOVER .text{
	background-image: url("../../../image/common/comment/button-comment-registration-hover130x100.png");
}

.comment-contents .comment-registration .comment-registration-button:ACTIVE .text{
	background-image: url("../../../image/common/comment/button-comment-registration-active130x100.png");
}

.comment-contents .comment-registration .comment-registration-button .text{
	width: 130px;
	height: 100px;
	line-height: 100px;
	background-image: url("../../../image/common/comment/button-comment-registration130x100.png");
	color: yellow;
	font-size: 12px;
}

.comment-contents .comment-registration .comment-secret-flag-div{
	margin-left: 7px;
	margin-bottom: 5px;
	display: inline-block;
}

.comment-contents .comment-registration .comment-secret-flag-div .comment-secret-flag{
	position: relative;
	top: 2px;
}

.comment-contents .comment-registration .comment-file-div{
	margin-left: 10px;
	display: inline-block;
}

.comment-contents .comment-registration .comment-file-div .comment-file-input{
	font-size: 12px;
}

.comment-contents .comment-registration .comment-registration-textarea{
	background-color: transparent;
	border: 1px solid green;
	min-height: 75px;
	max-height: 440px;
	height: 75px;
	color: white;
	box-sizing: border-box;
	min-width: 660px;
	width: 660px;
	max-width: 660px;
	margin-left: 10px;
	font-size: 14px;
}

.comment-contents .comment-registration .comment-file-group{
	border: 1px solid gray;
	min-height: 90px;
	margin-top: 10px;
	padding: 10px;
	box-sizing: border-box;
}

.comment-contents .comment-list{
	margin-top: 15px;
	margin-bottom: 20px;
}

.comment-contents .comment-list .comment-group-no{
	font-weight: bold;
	color: grey;
	margin-bottom: 5px;
}

.comment-contents .comment-list ul{
	border: 1px solid gray;
}

.comment-contents .comment-list ul > li:FIRST-CHILD{
	border-top: 0;
}

.comment-contents .comment-list ul > li{
	clear: both;
	padding: 5px 5px 5px 5px;
	border-top: 1px solid gray;
}

.comment-contents .comment-list ul > li > header{
	display: inline-block;
	width: 100%;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #696969;
}

.comment-contents .comment-list ul > li > header > .info-panel{
	float: left;
	color: #ffebcd;
}

.comment-contents .comment-list ul > li > header > .info-panel .comment-no-shop{
	color: #778899;
}

.comment-contents .comment-list ul > li > header > .edit-panel{
	float: right;
}

.comment-contents .comment-list ul > li > article{
	
}

.comment-contents .comment-list ul > li > article.comment-body{
	padding-top: 15px;
	padding-left: 10px;
	padding-right: 10px;
}

.comment-contents .comment-list ul > li > article.comment-file{
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	border-radius: 10px;
}

.comment-contents .comment-list ul > li > article.comment-file img:LAST-CHILD{
	margin-right: 0;
}

.comment-contents .comment-list ul > li > article.comment-file img{
	max-height: 130px;
	max-width: 240px;
	border-radius: 10px;
	border: 1px solid gray;
	margin-right: 10px;
}

/* popup */
.pop{display: none}

.popup-mask{
    position: fixed; top:0; left:0; right:0; bottom:0; background: rgba(0,0,0,0.3);
}

.pop-content{
    position: fixed; bottom:0px; left:0; right:0; margin:0 auto 200px auto;
    border: 1px solid #556b2f;
}

.pop-ani {
    opacity: 1;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    animation-name: animatetop;
    animation-duration: 0.4s
}

@keyframes animatetop {
    from {bottom: 300px; opacity: 0}
    to {bottom: 0; opacity: 1}
}

.pop-head{
    background:#4b4d0b; color:#fff; height:25px;
    text-align: center; position: relative;
    cursor: pointer;
}

.pop-head h2{
    color:#ffebcd; font-size:14px; padding:8px; line-height:1;
}

.pop-head .btn-x{
    height:30px; width:30px; border:0;
    position: absolute; right:0px; top:0px;
    background: url('../../../image/common/comment/popup_ico_close.png') no-repeat center center;
    background-size: 15px 15px;
}

.pop-body{
    padding:15px 15px 15px;
    background: #292929;
    max-height: 630px; /*resize*/
    overflow-y: auto;
}









